.about {
    background-color: black;
    height: 100vh;
    background: linear-gradient(rgb(27, 27, 26), rgb(14, 13, 13), black);
    z-index: -999;
}

.about-card {
    margin: 10%;
}

.about-text {
    font-size: 1.1rem;
}