.main-container {
    height: 40em;
}

.main-title {
    font-size: 8rem;
}

.main-type {
    font-family: 'Crimson Text', serif;
    font-size: 8rem;
    margin-left: 20rem;
    margin-top: -0.5rem;
}

.main-retype {
    font-family: 'Crimson Text', serif;
    font-size: 8rem;
    margin-top: -0.5rem;
} 

.main-icon {
    margin: 1em;
    font-size: 7em;
}

.main-icon:hover {
    cursor: pointer;
}

@media (max-width: 1215px) { 
    .main-container {
        text-align: left;
        height: 35em;
    }
    .main-title {
        font-size: 5rem;
    }
    
    .main-type {
        font-family: 'Crimson Text', serif;
        font-size: 5rem;
    }
    
    .main-retype {
        font-family: 'Crimson Text', serif;
        font-size: 5rem;
    } 

    .main-icon {
        margin: 1em;
        font-size: 5em;
    }
}

@media (max-width: 790px) { 
    .main-container {
        text-align: left;
        height: 30em;
    }
    .main-title {
        font-size: 3rem;
    }
    
    .main-type {
        font-family: 'Crimson Text', serif;
        font-size: 3rem;
    }
    
    .main-retype {
        font-family: 'Crimson Text', serif;
        font-size: 3rem;
    } 

    .main-icon {
        margin: 1em;
        font-size: 3em;
    }
}

@media (max-width: 510px) { 
    .main-container {
        text-align: left;
        height: 20em;
    }
    .main-title {
        font-size: 2.5rem;
    }
    
    .main-type {
        font-family: 'Crimson Text', serif;
        font-size: 2.5rem;
    }
    
    .main-retype {
        font-family: 'Crimson Text', serif;
        font-size: 2.5rem;
    } 

    .main-icon {
        margin: 1em;
        font-size: 2.5em;
    }
}