#contact-view {
    min-height: 50em;
    background-color: rgb(224, 222, 211);
}

#contact-view h3 {
    font-family: 'Crimson Text', serif;
}

.contact-title {
    font-size: 5rem;
}

.contact-error {
    margin-top: -5%;
}

@media (max-width: 990px) { 
    .contact-error {
        margin-top: 1rem;
    }
}