.main-title {
    font-size: 8rem;
}

.main-type {
    font-family: 'Crimson Text', serif;
    font-size: 8rem;
    margin-left: 20rem;
    margin-top: -0.5rem;
}

.main-retype {
    font-family: 'Crimson Text', serif;
    font-size: 8rem;
    margin-top: -0.5rem;
} 