.footer-container {
    background-color: black;
}

.footer-icon {
    font-size: 2rem;
    margin: 0.3em;
}

.footer-icon:hover {
    cursor: pointer;
}

.footer-button {
    background-color: black;
    border: none;
}

.footer-button:hover {
    background-color: black;
    color: white;
}

.footer-button:active {
    color: black !important;
    background-color: white !important;
    outline: none !important;
    box-shadow: none !important;
}

.footer-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.footer-button::after {
    background-color: black !important;
    border: none !important;
}