.nav-container {
    background-color: black;
}

.navbar-brand {
    font-family: 'Crimson Text', serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: white !important;
}

.nav-link {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.3rem;
    color: white !important;
}
