#experience {
    background-color: rgb(224, 222, 211);
}

#experience h4 {
    font-family: 'Nanum Myeongjo', serif;
}

.experience-row {
    background-color: rgb(70, 70, 68);
    margin-top: 10%;
    margin-bottom: 10%;
}

.experience-hover {
    background-color: white;
    width: 45%;
    color: black;
    margin-top: -50px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

@media (max-width: 1200px) { 
    .experience-hover {
        width: 60%;
    }
}

@media (max-width: 768px) { 
    .experience-hover {
        width: 80%;
    }
}

.experience-hover h2 {
    font-weight: bold;
}

.experience-title {
    font-size: 5rem;
}

.experience-text {
    font-size: 1.3rem;
    color: white;
    font-family: 'Nanum Myeongjo', serif;
}

.experience-button {
    background-color: white;
    color: black;
    border: solid 2px black;
    font-size: 1.6rem;
    font-family: 'Crimson Text', serif;
}

.experience-button:hover {
    background-color: black;
    color: white;
    border: solid 2px white;
}

.experience-button:active {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
    outline: none !important;
    box-shadow: none !important;
}

.experience-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.experience-link {
    font-size: 1.4rem;
    font-family: 'Nanum Myeongjo', serif;
    transition: font-size 0.2s ease-in-out;
}

.experience-link:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}

.experience-icon {
    font-size: 2em;
}