#skills {
    background-color: rgb(224, 222, 211);
    /* background-image: url(../../assets/images/Untitled\ design.png); */
    padding-bottom: 10%;
}

#skills .progress {
    background-color: white;
}

#skills h4 {
    font-family: 'Nanum Myeongjo', serif;
}

.skills-title {
    font-size: 5rem;
}

.skills-container {
    margin: 1rem;
}