@import url('https://fonts.googleapis.com/css?family=Special+Elite|Montserrat|Droid+Sans+Mono&display=swap');

.title-name {
  font-family: 'Special Elite', serif;
}

.type-font {
  font-family: 'Droid Sans Mono', serif;
}

h2 {
  font-family: 'Montserrat', serif;
}

/* p {
  font-family: 'Montserrat', serif;
} */