@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Nanum+Myeongjo&display=swap');


h1 {
  font-family: 'Crimson Text', serif;
  font-size: 8rem;
}

h2 {
  font-family: 'Nanum Myeongjo', serif;
}