#writing {
    min-height: 60em; 
    background-color: black;
    background-image: url('../../assets/images/space.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.writing-title {
    font-size: 5rem;
    color: #006400;
}

